<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SSS</servlet-name>
    <servlet-class>com.servlet.SSS</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Admin</servlet-name>
    <servlet-class>com.servlet.Admin</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddStaff</servlet-name>
    <servlet-class>com.servlet.AddStaff</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddStudent</servlet-name>
    <servlet-class>com.servlet.AddStudent</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Student</servlet-name>
    <servlet-class>com.servlet.Student</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Staff</servlet-name>
    <servlet-class>com.servlet.Staff</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Activatestaff</servlet-name>
    <servlet-class>com.servlet.Activatestaff</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StudentLog</servlet-name>
    <servlet-class>com.servlet.StudentLog</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BorRequest</servlet-name>
    <servlet-class>com.servlet.BorRequest</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Document</servlet-name>
    <servlet-class>com.servlet.Document</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BorStore</servlet-name>
    <servlet-class>com.servlet.BorStore</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BonCertificate</servlet-name>
    <servlet-class>com.servlet.BonCertificate</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LofRequest</servlet-name>
    <servlet-class>com.servlet.LofRequest</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LofStore</servlet-name>
    <servlet-class>com.servlet.LofStore</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeclineBonCertificate</servlet-name>
    <servlet-class>com.servlet.DeclineBonCertificate</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckingBon</servlet-name>
    <servlet-class>com.servlet.CheckingBon</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckingLof</servlet-name>
    <servlet-class>com.servlet.CheckingLof</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeclineLofCertificate</servlet-name>
    <servlet-class>com.servlet.DeclineLofCertificate</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ClearMessage</servlet-name>
    <servlet-class>com.servlet.ClearMessage</servlet-class>
  </servlet>



















  <servlet-mapping>
    <servlet-name>SSS</servlet-name>
    <url-pattern>/SSS</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddStaff</servlet-name>
    <url-pattern>/AddStaff</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddStudent</servlet-name>
    <url-pattern>/AddStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Student</servlet-name>
    <url-pattern>/Student</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Staff</servlet-name>
    <url-pattern>/Staff</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Activatestaff</servlet-name>
    <url-pattern>/Activatestaff</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentLog</servlet-name>
    <url-pattern>/StudentLog</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BorRequest</servlet-name>
    <url-pattern>/BorRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Document</servlet-name>
    <url-pattern>/Document</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BorStore</servlet-name>
    <url-pattern>/BorStore</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BonCertificate</servlet-name>
    <url-pattern>/BonCertificate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LofRequest</servlet-name>
    <url-pattern>/LofRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LofStore</servlet-name>
    <url-pattern>/LofStore</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeclineBonCertificate</servlet-name>
    <url-pattern>/DeclineBonCertificate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckingBon</servlet-name>
    <url-pattern>/CheckingBon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckingLof</servlet-name>
    <url-pattern>/CheckingLof</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeclineLofCertificate</servlet-name>
    <url-pattern>/DeclineLofCertificate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClearMessage</servlet-name>
    <url-pattern>/ClearMessage</url-pattern>
  </servlet-mapping>
  
  
  
  
  <context-param> 
   <description>Location to store uploaded file</description> 
   <param-name>file-upload</param-name> 
   <param-value>
    D:\\
   </param-value> 
</context-param>
  
  
  
  
  
  
  
  
  
  
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
